extends base.pug

block content
    //- h3 #{video.views} #{video.views === 1 ? "view" : "views" }
    //- inline if문
    div.container-box(data-username=loggedInUser.name, data-userId=loggedInUser._id)
        div#videoContainer(data-videoId=video._id)
            if isHeroku
                video(src=video.fileUrl, width="70%")
            else
                video(src="/"+video.fileUrl, width="70%")
            div#videoControls.videoControls
                div.videoControls__play
                    span#play.videoControls__playBtn
                        i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
                input(type="range",step="0.01", value="0", min="0")#timeline.videoControls__timeline
                div.videoControls__volume
                    input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                    span#mute
                        i.fas.fa-volume-up
                    span#fullScreen
                        i.fas.fa-expand
    div.watch__info
        p=video.description
        br
        small Uploaded by  
            a(href=`/users/${video.owner._id}`)   #{video.owner.name}
        br
        //- small=video.createdAt
    div.watch__link
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) 수정하기 &rarr;
            br
            br
            a.delete(href=`${video.id}/delete`) 삭제하기 &rarr;
    //- href 경로가 /로 시작하면 절대경로 그냥 시작하면 상대경로
    div.video__add-comments 
        form.video__comment-form#commentForm
            textarea(cols="70", rows="1", placeholder="댓글을 입력하세용")
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                if comment.owner
                    li.video__comment(data-commentId=comment._id)
                        span.comment__text #{comment.text}
                        a(href=`/users/${comment.owner._id}`)
                            span #{comment.owner.name} 
                        if String(comment.owner._id) === String(loggedInUser._id)
                            span.del 삭제
                else 
                    li.video__comment 
                        span.comment__text #{comment.text}
                        span 익명

block scripts 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")